<form id="delete_form" method="post" action="{{ path('achievement_delete', {'id': achievement.id}) }}" onsubmit="return confirm('Êtes-vous sûre(e) de vouloir supprimer cette progression ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achievement.id) }}">
</form>
