{% extends 'base.html.twig' %}

{% block title %}Créer un achievement
{% endblock %}

{% block main %}
	<a href="{{ path('achievement_list') }}" class="text-amber-500 font-bold text-xl block mb-5"><i class="fa-solid fa-backward"></i> Retour</a>
	<h1 class="text-2xl my-3">Créer un Achievement</h1>

	{{ include('achievement/_form.html.twig') }}

{% endblock %}
