<form id="delete_form" method="post" action="{{ path('badge_delete', {'id': badge.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce badge ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ badge.id) }}">
</form>
