{% extends 'base.html.twig' %}

{% block title %}
	Editer badge - {{badge.name}}
{% endblock %}

{% block main %}
	<h1 class="text-center text-xl">Editer badge</h1>

	{{ include('badge/_form.html.twig') }}

	{{ include('badge/_delete_form.html.twig') }}
{% endblock %}
