@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@font-face {
    font-family: 'Baskerville';
    src: url('./Fonts/LibreBaskerville-Bold.ttf');
}

// Imports
@import 'vars';
@import 'Component/Button';
@import 'Component/Detail';
@import 'Component/Form';

body {
    font-family: 'Baskerville';
    background-color: white;
    color: rgb(42, 42, 42);
    border-color: rgb(42, 42, 42);
}

// Muuri Grid
.grid {
    position: relative;
  }
  .item {
    position: absolute;
    z-index: 1;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
  }