$danger: rgb(190, 73, 5);
$primary: rgb(217, 119, 6);
$secondary: rgb(243, 143, 29);
$shadow: rgb(209 213 219 / 1);
$card-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
$dark: rgb(42, 42, 42);
$gray: rgba(136, 135, 135, 0.76);
$border_radius: 7.5px;