.Button {
    font-size: 1em;
    color: white;
    padding: 0.5em 1em;
    transition: 0.1s ease-in-out;
}

.Button--selected {
    border-bottom: 2px solid $ternary;
    color: $ternary;
}

.Button-delete {
    background-color: $danger;

    &:hover {
        background: none;
        border: 1px solid $danger;
        color: $danger;
    }
}

.Button-primary {
    background-color: $primary;

    &:hover {
        color: $ternary;
    }

    &.Button--simple {
        background: none;
        
        &:hover {
            color: $primary;
        }
    }
}

.Button-primary-outline {
    background: none;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
        background: $primary;
        color: white;
    }
}

.Button--xs {
    font-size: x-small;
}

.Button-nav-primary {
    background-color: $primary;
    border: none;

    &:hover {
        background-color: $primary-opaque;
        color: $primary;
    }
}

.Button-nav-secondary {
    background: none;

    &:hover {
        background-color: $primary;
        color: white;
    }
}