<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <caption></caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {% for field in table.fields %}
                    <th scope="col" class="px-6 py-3">
                        {{field.name}}
                    </th>
                {% endfor %}
                {% if table.actions is not empty %}
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Actions</span>
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in table.items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    {% for field in table.fields %}
                        <td class="px-6 py-4">
                            {{ field.valueCallback.call(item, item) }}
                        </td>
                    {% endfor %}
                    {% if table.actions is not empty %}
                        <td class="px-6 py-4 text-right">
                            {% for action in table.actions %}
                                <a href="{{action.url}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{action.name}}</a>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>