<h1>Veuillez confirmer votre adresse mail</h1>

<p>
    Veuillez confirmer votre adresse mail sur le site "Badger" en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
